@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Roboto+Slab&display=swap');

body{
    background-color: rgb(223, 254, 254);
}

.img-user{
    border-radius: 50%;
    height: 250px;
}

.Prasad{
    border-radius: 50%;
}
ul{
    align-items: center;

}

.nav-item{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-item:hover{
    background-color: rgb(209, 166, 166);
    border-radius: 15px;
}
h1{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;

}
h2{
    font-family: 'Roboto Slab', serif;
}
.about-me{
    font-size: 20px;
}

.ico-social-container{
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    display: block;
    height: 60px;
    width: 60px;
    margin-left: 20px;
}

.ico-social{
    height: 50px;
    width: 50px;
}